.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--system-overlay-background-color);
    backdrop-filter: blur(15px);
    z-index: 9998;

    /* Animation */
    opacity:0;

    /* Interactivity */
    pointer-events: none; /* Prevent interaction when hidden */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay--visible-state {
    opacity: 1;
    pointer-events: auto;
}