.overlay{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998;

    /* Animation */
    opacity:0;

    /* Interactivity */
    pointer-events: none; /* Prevent interaction when hidden */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay--visible-state {
    opacity: 1;
    pointer-events: auto;
}
