.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background: gray;

    /* Animation */
    opacity:0;

    /* Interactivity */
    pointer-events: none; /* Prevent interaction when hidden */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.overlay--visible-state {
    opacity: 1;
    pointer-events: auto;
}
