
.board-views-ui {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Prevents overflow from child elements */

    /* Cursor */
    cursor: crosshair;
}
