.board-views-ui {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 1024px;
    height: 768px;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Prevents overflow from child elements */

    border: none;
    box-shadow: none;
}
