/* Wrapper fills the entire region */
.free-text-entry {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;

    overflow: hidden;

}

/* Text field grows to fill space */
.free-text-entry__input {
    flex: 1;
    width: 100%;
    padding: 8px;

    border: 0;
    resize: none;
    outline: none;
    overflow: auto;        /* scrollbars when text exceeds bounds */
    appearance: none;
    background-color: white;
    font-family: var(--font-family-sans), sans-serif;
    box-sizing: border-box;
    border-radius: 8px 8px 0 0;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.1);
}

/* Bottom gutter holds button; fixed height */
.free-text-entry__gutter {
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

/* Submit button styling */
.free-text-entry__submit {
    font-family: var(--font-family-sans), sans-serif;
    color: gray;
    font-size: 14px;
    height: 100%;
    width:100%;
    border: none;
    background-color: rgba(220,220,220, 1);
    transition: background-color 0.2s ease;
    border-radius: 0 0 8px 8px;
}

.free-text-entry__submit.submittable{
    background-color: rgba(235,235,235, 1);
}

.free-text-entry__submit.submittable:hover{
    background-color: rgba(200,200,200, 1);
}

.free-text-entry__submit.submittable:active{
    background-color: rgba(180,180,180, 1);
}