.free-text-entry-card {
    /* Sizing */
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 0.25rem;
    padding: 0.5rem;

    resize: none;          /* disables corner drag handle */
    overflow: auto;        /* scrollbars when text exceeds bounds */
    outline: none;
    appearance: none;

    font-family: var(--font-family-sans), sans-serif;

    box-shadow: inset 0 0 3px 0 rgba(50, 50, 50, 0.8);
}

/* Wrapper fills the entire region */
.free-text-entry {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;

}

/* Text field grows to fill space */
.free-text-entry__input {
    flex: 1;
    width: 100%;
    padding: 0.5rem;

    border: 0;
    resize: none;
    outline: none;
    font-family: var(--font-family-sans), sans-serif;
    box-sizing: border-box;
}

/* Bottom gutter holds button; fixed height */
.free-text-entry__gutter {
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

/* Submit button styling */
.free-text-entry__submit {
    font-family: var(--font-family-sans), sans-serif;
    color: gray;
    font-size: 14px;
    height: 100%;
    width:100%;
    border: none;
    background-color: rgba(220,220,220, 1);
}

.free-text-entry__submit.submittable{
    background-color: rgba(235,235,235, 1);
}

.free-text-entry__submit.submittable:hover{
    background-color: rgba(200,200,200, 1);
}

.free-text-entry__submit.submittable:active{
    background-color: rgba(180,180,180, 1);
}