.status-dot {
    position: absolute;
    top: var(--system-border-radius);
    right: var(--system-border-radius);
    width: 1px;
    height: 1px;
    border-radius: 50%;
    margin-left: auto;

    background-color: var(--system-neutral-color);
    transition: background-color 0.2s ease;
    z-index: 9999;
}

.status-dot--positive {
    background-color: var(--system-positive-color);
    box-shadow: 0 0 1px 1px var(--system-positive-color);
}
.status-dot--negative {
    background-color: var(--system-negative-color);
    box-shadow: 0 0 1px 1px var(--system-negative-color);
}

.status-dot--neutral {
    background-color: var(--system-neutral-color);
    box-shadow: 0 0 1px 1px var(--system-neutral-color);
}
