.free-text-entry-card {
    /* Sizing */
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 0.25rem;
    padding: 0.5rem;

    resize: none;          /* disables corner drag handle */
    overflow: auto;        /* scrollbars when text exceeds bounds */
    outline: none;
    appearance: none;

    font-family: var(--font-family-mono), monospace;

    box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.1);

}
