.free-text-entry-card {
    /* Sizing */
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 0.25rem;
    padding: 0.5rem;

    resize: none;          /* disables corner drag handle */
    overflow: auto;        /* scrollbars when text exceeds bounds */
    outline: none;
    appearance: none;

    font-family: var(--font-family-sans), sans-serif;

    box-shadow: inset 0 0 3px 0 rgba(50, 50, 50, 0.8);
}
