
/*
A fixed-width <div> which is not selectable.
 */
.console-title-box {
    font-size: 1rem;
    width: var(--overlay-console-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Prevent selection of text in banner */
    user-select: none;
    margin-bottom: 0.5rem;
}

/* Text to be rendered inside the banner. Overflows into an ellipsis. */
.console-title-box__text {
    color: black;
    font-family: var(--font-family-sans), monospace;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.console-message__text {
    width: var(--overlay-console-width);
    color: black;
    font-family: var(--font-family-sans), sans-serif;
    margin-bottom: 0.75rem;
    line-height: 1.4;
}

.console-message__text--hidden {
    display: none;
}

.copy-button {
    background-color: hsla(0, 0%, 50%, 0.5);
    color: black;
    border: 0 solid rgba(100, 100, 100, 1);
    font-size: 0.75rem;
    border-radius: 4px;
    min-width: 4rem;
    min-height: 1.5rem;
    cursor: pointer;
}

.copy-button:hover {
    background-color: hsla(0, 0%, 90%, 0.5);
}

.copy-button:active {
    background-color: hsla(0, 0%, 90%, 1);
}
