
.board-view {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.board-region {
    position: absolute;
    overflow: hidden; /* Prevents content overflow */
}

.board-region::after {
    content: "";
    position: absolute;
    inset: 0;               /* top/right/bottom/left: 0 */
    background: transparent;
    border-radius: inherit;
    pointer-events: none;   /* clicks go through */
    z-index: 2;             /* sit on top of children */
}

.board-region.hovered::after{
    background: rgba(0, 0, 0, 0.1);
}

.board-region.selected{
    outline: 2px solid var(--cognition-standard-color);
}