.card--selected {
    outline: 2px solid rgba(50, 50, 50, 0.9);
    outline-offset: -2px; /* or tweak to taste */
}

.card--hoverable::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    will-change: opacity;
}

.card--hoverable:hover::after{
    opacity: 1;
}
