
.card {
    position: absolute;
    overflow: hidden; /* Prevents content overflow */
}

.card--hidden {
    opacity: 0.0;
}

.card--noninteractive {
    pointer-events: none;
    user-select: none;
}

.card--clickable {
    cursor: pointer;
}

.card--clickable:hover {
}

.card--clickable:active {
}