
/*
A centered, fixed-size, neutral panel which can be used to display information or controls.
 */
.markdown-pages-viewer {
    background-color: var(--system-text-background-color);
    border-radius: var(--system-border-radius);

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:100%;
    height:100%;
}

.markdown-pages-viewer__window {
    display: flex;
    margin: 1rem;
    width: 95%;
    height: 95%;
    overflow-y: auto;

    border-top: 1px solid rgba(128, 128, 128, 0.2);
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    box-sizing: border-box;
}

.nav-tray {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    width: 100%;
    margin-top: 1rem; /* Space between content and buttons */
    padding: 10px;
}


/* Buttons */
.nav-tray__button {
    background-color: var(--system-button-background-color);
    color: var(--system-text-muted-color-on-light);
    padding: 2px 8px;
    font-size: 1rem;
    cursor: pointer;
    margin: 1px;
}
.nav-tray__button:hover {
    background-color: var(--cognition-faint-color);;
}

.nav-tray__button:active {
    background-color: var(--cognition-standard-color);
    /* Slight diffuse effect on click */
    box-shadow: 0 0 1px var(--cognition-standard-color);
}


