.start-button {
    background-color: white;
    color: black;
    border: 1px solid rgba(128, 128, 128, 0.5);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    border-radius: 10%;
    width: 100%;
    aspect-ratio: 1.3;
    cursor: pointer;
}

.start-button:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

.start-button:active {
    background-color: rgba(128, 128, 128, 0.1);
}
