.start-button {
    background-color: white;
    color: black;
    background-color: rgba(128, 128, 128, 0.1);
    border: none;
    font-size: 1.5rem;
    border-radius: 10%;
    width: 200px;
    aspect-ratio: 1.3;
    font-family: var(--font-family-sans), sans-serif;
}

.start-button:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

.start-button:active {
    background-color: rgba(128, 128, 128, 0.05);
}
