.slider-card {
    /* Sizing */
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;

    /* Visual appearance */
    background-color: red;
}

.slider-card--vertical{
    writing-mode: vertical-rl;
}

.slider-card--horizontal{
    writing-mode: horizontal-tb;
}


.slider-card::-moz-range-track {
    background-color: rgba(169, 169, 169, 0.5); /* darkgrey with some transparency */
    box-shadow: none;
}

.slider-card::-webkit-slider-runnable-track {
    background-color: rgba(169, 169, 169, 0.5);
    box-shadow: none;
}