.slider-card {
    /* Sizing */
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;


    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Track */
.slider-card__track {
    border-radius: 4px;
    background-color: rgba(220, 220, 220, 1); /* darkgrey with some transparency */
    box-shadow: none;
}

.slider-card__track--horizontal{
    width: 100%;
    height: 75%;
}

.slider-card__track--vertical{
    width: 75%;
    height: 100%;
}


/* Thumb */
.slider-card__thumb {
    position: absolute;
    background-color: rgba(100, 100, 100, 1);
}

.slider-card__thumb--horizontal{
    width: 8px;
    height: 100%;
    transform: translate(-50%, 0%);
    left: 50%;
}

.slider-card__thumb--vertical{
    width: 100%;
    height: 8px;
    transform: translate(0%, -50%);
    top:50%;
}

