.slider-card {
    /* Sizing */
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;

    /* Visual appearance */
    background: transparent;
}

.slider-card--vertical{
    writing-mode: vertical-rl;
}

.slider-card--horizontal{
    writing-mode: horizontal-tb;
}
