.slider-card {
    /* Sizing */
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;


    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Track */
.slider-card__track {
    position: relative;
    border-radius: 8px;
    background-color: rgba(214, 216, 219, 1);
}

.slider-card__track--horizontal{
    width: 100%;
    height: 70%;
}

.slider-card__track--vertical{
    width: 70%;
    height: 100%;
}

.slider-card__track-tick {
    position: absolute;
    background-color: rgba(150, 150, 150, 0.5);
}

/* Thumb */
.slider-card__thumb {
    position: absolute;
    background-color: rgba(80, 80, 80, 1);
    border-radius: 2px;
}

.slider-card__thumb--active {
    background-color: var(--cognition-standard-color)
}

.slider-card__thumb--horizontal{
    width: 8px;
    height: 100%;
    left: 50%;
}

.slider-card__thumb--vertical{
    width: 100%;
    height: 8px;
    top:50%;
}

