.slider-card {
    /* Sizing */
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;


    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Track */
.slider-card__track {
    border-radius: 8px;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.2);

}

.slider-card__track--horizontal{
    width: 100%;
    height: 50%;
}

.slider-card__track--vertical{
    width: 50%;
    height: 100%;
}


/* Thumb */
.slider-card__thumb {
    position: absolute;
    background-color: rgba(200, 200, 200, 1);
    border-radius: 4px;
}

.slider-card__thumb--horizontal{
    width: 4px;
    height: 100%;
    /*transform: translate(-50%, 0%);*/
    left: 50%;
}

.slider-card__thumb--vertical{
    width: 100%;
    height: 4px;
    /*transform: translate(0%, -50%);*/
    top:50%;
}

