.slider-card {
    /* Sizing */
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    height: 100%;
    background-color: red; /* Temporary debug color */
}
