
/*
A fixed-width <div> which is not selectable.
 */
.connecting-message-box {
    font-size: 1rem;
    width: var(--overlay-console-width);
    color: var(--system-text-default-color-on-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    /* Prevent selection of text in banner */
    user-select: none;
}

/* Text to be rendered inside the banner. Overflows into an ellipsis. */
.connecting-message-box__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}