@import "@fontsource/inter/400.css";
@import "@fontsource/inter/700.css";
@import "@fontsource-variable/inconsolata";
@import 'board-views-ui/board-views-ui.css';

:root {
    /* ShellUI Dimensions */
    --overlay-console-width: 80%;

    /* System Borders */
    --system-border-radius: 12px;

    /* System Scrollbars */
    --system-scroll-color: rgba(128,128,128, 0.1);

    /* System Text */
    --font-family-sans: 'Inter';
    --font-family-mono: 'Inconsolata Variable', monospace;
    --system-text-default-color-on-light: hsl(0, 0%, 15%);
    --system-text-default-color-on-dark: hsl(210, 0%, 75%);

    --system-text-muted-color-on-light: rgba(0, 0, 0, 0.5);

    /* System Valence */
    --system-neutral-color: hsla(0,100%,100%,0.2);

    /* Cognition */
    --cognition-strong-color: hsl(208,100%,80%);
    --cognition-standard-color: hsl(207, 90%, 83%);
    --cognition-faint-color: hsl(207, 32%, 84%);

    --cognition-standard-color-alpha-high: hsla(207, 100%, 82%, 0.9);
    --cognition-standard-color-alpha-medium: hsla(207, 100%, 82%, 0.4);
    --cognition-standard-color-alpha-low: hsla(207, 100%, 82%, 0.1);

}
html, body {
    margin: 0;
    padding: 0;
}

.nodekit-container {
    overflow: hidden;
}

/* Scrollbar configuration for Chrome, Safari, Edge (WebKit) */
.nodekit-container *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.nodekit-container *::-webkit-scrollbar-track {
    background: transparent;
}

.nodekit-container *::-webkit-scrollbar-thumb {
    background-color: var(--system-scroll-color, transparent);
    border-radius: 8px;
    border: 2px solid transparent; /* space between thumb and track */
}

.nodekit-container *::-webkit-scrollbar-thumb:hover {
    background-color: var(--system-scroll-color, transparent);
}

/* This is the root of the PlayspaceUI and ShellUI. */
.nodekit-container .nodekit-content {

    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;

    height: 100%;
    width: 100%;

    color: var(--system-text-default-color-on-light);

    /* Scrollbars */
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: var(--system-scroll-color) transparent;

    /* Default Text */
    font-family: var(--font-family-sans), sans-serif;
}
