@import "@fontsource/inter";
@import 'board-views-ui/board-views-ui.css';

:root {
    /* ShellUI Dimensions */
    --overlay-console-width: 80%;

    /* System Scrollbars */
    --system-scroll-color: rgba(128,128,128, 0.5);

    /* System Text */
    --font-family-sans: 'Inter';
    --font-family-mono: monospace;

}
html, body {
    margin: 0;
    padding: 0;
}

.nodekit-container {
    overflow: hidden;
}

/* Scrollbar configuration for Chrome, Safari, Edge (WebKit) */
.nodekit-container *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.nodekit-container *::-webkit-scrollbar-track {
    background: transparent;
}

.nodekit-container *::-webkit-scrollbar-thumb {
    background-color: var(--system-scroll-color, transparent);
    border-radius: 8px;
    border: 2px solid transparent; /* space between thumb and track */
}

.nodekit-container *::-webkit-scrollbar-thumb:hover {
    background-color: var(--system-scroll-color, transparent);
}

/* This is the root of the PlayspaceUI and ShellUI. */
.nodekit-container .nodekit-content {

    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;

    height: 100%;
    width: 100%;

    /* Scrollbars */
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: var(--system-scroll-color) transparent;

    /* Default Text */
    font-family: var(--font-family-sans), sans-serif;
}
