
.json-viewer {
    width: var(--overlay-console-width);
    max-height: 65vh;
    max-width: 80vw;
    overflow: hidden;

    position: relative;
    font-size: 0.85rem;
    overflow-y: auto;
    font-family: var(--font-family-mono), monospace;

    /* Border */
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

}

.json-viewer__content {}


