<!doctype html>
<html lang="eng">

<head>
    <title>NodeGraph Preview Page</title>
    <script>
        {{ javascript_source | safe }}
    </script>
    <style>
        {{ css_source | safe }}
    </style>
    <script>

        window.focus();

        // Rendering context:
        const nodeGraph = {{ node_graph | tojson(indent=4) | indent(8, first=False) }};

        // Run:
        window.onload = async () => {
            let events = await NodeKit.play(
                nodeGraph,
                (event) => {
                    console.log('Event', event);
                }
            )
        };
    </script>
</head>
<body></body>
</html>