<!doctype html>
<html lang="eng">

<head>
    <title>NodeGraph</title>
    <script src="https://unpkg.com/nodekit-browser@0.0.2-alpha.2/dist/nodekit.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/nodekit-browser@0.0.2-alpha.2/dist/nodekit.css">
    <script>

        window.focus();

        // Rendering context:
        const nodeGraph = {{ node_graph | tojson(indent=4) | indent(8, first=False) }};

        // Run:
        window.onload = async () => {
            let events = await NodeKit.play(
                nodeGraph,
                (event) => {
                    console.log('Event', event);
                }
            )
        };
    </script>
</head>
<body></body>
</html>


